<section class="about ">
    <div class="about__wrapp revealator-fade">
        <div class="about__box">
            <h1 class="about__title">Предисловие</h1>
            <p>Пандемия COVID-19 затронула всех, невзирая на возраст, пол, место жительства, уровень благосостояния. Иными словами, коронавирус не пощадил никого - ни водителей автобусов, ни премьер-министров. Но есть и особые характеристики пандемии, которые нельзя обойти стороной. Вспышка инфекционного заболевания по-разному влияет на женщин и на мужчин, на мальчиков и на девочек.
                Практически все страны сообщают об увеличившемся уровне насилия в отношении женщин, в их числе и Казахстан. К сожалению, условия кризиса, связанного с ним чрезвычайного положения и карантинного режима, усиливают существующее гендерное неравенство и дискриминацию в отношении всех уязвимых групп людей.
                В то же время, оказываясь на передовой в борьбе с коронавирусной инфекцией, женщины вносят непомерный вклад в решение проблем, вызванных пандемией. Среди таких женщин врачи, волонтеры, активистки, политики, инфлюенсеры и т.д. Этот список можно продолжать долго.
                Однако при этом, недавнее исследование Глобального института женщин и лидерства Королевского колледжа Лондона выявило, что в средствах массовой информации на одно упоминание выдающейся женщины-эксперта в борьбе с COVID-19 приходилось девятнадцать упоминаний мужчин.
                Составляя 70% рабочей силы в сфере здравоохранения и социальном секторе во всем мире, естественно, что женщины чаще оказываются на передовой в борьбе с пандемией, рискуя своим собственным здоровьем и жизнью, и здоровьем своих близких.
                Цель нашей выставки продемонстрировать энергию и вклад женщин во время кризиса, вызванного пандемией COVID-19, кризиса, который останется в истории страны и человечества и из которого будут извлечены еще немалые уроки.
                Героини нашей выставки – женщины, проявившие смелость в разных сферах на передовой в борьбе с коронавирусной инфекцией и ее последствиями.
                </p>
        </div>
    </div>

    <span class="about__subtitle">
        Героини
    </span>

    <span class="about__down"></span>

</section>