<section class="about">
    <div class="about__wrapp">
        <div class="about__box">
            <h1 class="about__title">Предисловие</h1>
            <p>Пандемия COVID-19 затронула всех, невзирая на возраст, пол, место жительства, уровень благосостояния.
                Иными
                словами, коронавирус не пощадил никого - ни водителей автобусов, ни премьер-министров. Но есть и особые
                характеристики пандемии, которые нельзя обойти стороной. Вспышка инфекционного заболевания по-разному
                влияет
                на женщин и на мужчин, на мальчиков и на девочек.
                </br>
                </br>
                Но есть и особые характеристики пандемии, которые нельзя обойти стороной. </p>
        </div>
    </div>

    <span class="about__subtitle">
        Георини
    </span>
    <span class="about__down"></span>

</section>