<section class="header">
    <div class="container">
        <nav class="header__nav">
            <div class="header__logo"><img src="/img/logo.png" alt=""></div>
            <ul class="header__links">
                <li><a href="">Героини</a></li>
                <li><a href="">Организаторы</a></li>
            </ul>

            <button class="hamburger hamburger--elastic" type="button"
            aria-label="Menu" aria-controls="navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

        </nav>
    </div>




    <div class="header__body">

        <div class="owl-carousel">

            <div style="background-image: url('/img/firstbg.png');" class="header__item item">
                <h1>Женщины на передовой в борьбе <br>
                    с COVID-19 онлайн фотовыставка</h1>
            </div>

            
            <div style="background-image: url('/img/firstbg.png');" class="header__item item">
                <h1>Женщины на передовой в борьбе <br>
                    с COVID-19 онлайн фотовыставка</h1>
            </div>

            
            <div style="background-image: url('/img/firstbg.png');" class="header__item item">
                <h1>Женщины на передовой в борьбе <br>
                    с COVID-19 онлайн фотовыставка</h1>
            </div>

            
            <div style="background-image: url('/img/firstbg.png');" class="header__item item">
                <h1>Женщины на передовой в борьбе <br>
                    с COVID-19 онлайн фотовыставка</h1>
            </div>

        </div>


        <div class="header__footer">
            <div class="container">
                <div class="header__footer--wrapp">
                    <p>Covid 2020</p>
                    <div class="my-owl-nav owl_wrapp">
                        <span class="my-prev-button">
                            <i class="arrow arrow__left" aria-hidden="true"></i>
                        </span>
                        <span class="my-next-button">
                            <i class="arrow arrow__right" aria-hidden="true"></i>
                        </span>

                    </div>
                </div>


            </div>
        </div>












    </div>



</section>