<section class="heroes">
    <div class="container">

        <div class="heroes__wrapp">

            <h1 class="heroes__title">
                Тамара Абдирова
            </h1>
            <h2 class="heroes__subtitle">
                Врач Инфекционист
            </h2>
            <p>«Мне до сих пор тяжело говорить о потерях, поэтому с удовольствием вспоминаю случай, когда из лап вируса
                мы
                вытащили 85-летнего пациента с доказанной ковидной пневмонией и 100-процентным поражением легких. Его
                крайне
                тяжелое состояние осложнялось артериальной гипертензией, ишемической болезнью сердца и сахарным
                диабетом, а
                потому выздоровление стало настоящим успехом! В тот момент, когда наш город буквально горел от ковида,
                было
                не до празднования победы, но я уверена, что в будущем этот случай опишут в медицинской литературе, как
                уникальный», - рассказала Тамара АБДИРОВА, врач с 25-летним стажем. </p>


            <img src="/img/h1.png" alt="">


            <p>С середины марта, когда в Алматы объявили Чрезвычайное Положение, до начала сентября Тамара Муталимовна,
                являясь заместителем главврача по лечебной работе Больницы скорой неотложной помощи, была на передовой,
                в так называемой «красной зоне». Сначала эту многопрофильную клинику перевели в статус карантинного
                учреждения, а потом сделали из нее провизорный центр и инфекционный стационар первого эшелона. Можно
                было отказаться от этой работы, но доктор Абдирова не могла, потому что видела в глазах каждого нового
                пациента страх перед смертельной болезнью и будто бы слышала вопрос: «Вы же сможете мне помочь?!»
            </p>

            <img src="/img/h1.png" alt="">
            <p>А потому совершенно выбившаяся из сил, на месяцы разлученная с семьей, по ночам она штудировала
                медицинские справочники и участвовала в вебинарах с итальянскими, российскими, израильскими врачами,
                чтобы понимать с какой же неизведанной и коварной инфекцией имеет дело. «Сейчас мы не знаем, какой
                станет вторая волна пандемии, в какой форме будет протекать инфекция и чем она будет осложнена, но я
                вновь буду на передовой, сразу встану в строй, потому что нужна людям!» - без раздумий заявляет
                Абдирова. </p>

            <img src="/img/h1.png" alt="">


            <div class="heroes__video">
                <iframe width="100%" height="500px" src="https://www.youtube.com/embed/tSCWs85mye8" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>


            <h1 class="heroes__title">
                Елена Билокинь
            </h1>
            <h2 class="heroes__subtitle">
                Активист
            </h2>
            <p>«Женщина потеряла работу из-за того, что закрылось ее предприятие, ей нечем кормить двоих маленьких
                детей, и к тому же хозяин арендованной квартиры выгнал их на улицу. Если бы вы услышали, хоть одну такую
                жуткую историю из того шквала звонков, что обрушился на нас в карантин, то поняли бы, почему мы не могли
                остаться в стороне!» – в глазах Елены Билоконь появляются слезы.</p>


            <img src="/img/h2.png" alt="">



            <p>Еще в 2008 году в родном Темиртау она открыла Центр для женщин, оказавшихся в трудной жизненной ситуации,
                и стала помогать контингенту, к которому относится сама. Это бывшие наркозависимые и ВИЧ-инфицированные.
                А еще женщины, которые вышли из мест лишения свободы, и бывшие воспитанницы детских домов. «Я смогла
                покончить со своей прошлой жизнью, вышла замуж, родила троих здоровых детей и вдруг захотела помочь
                всему миру справится с этим», - так объясняет свой порыв Билоконь. В 2017 году она переехала в Алматы,
                основала здесь «Фонд социальной помощи «Реванш», а потом «Фонд женщин, живущих с ВИЧ». </p>


            <img src="/img/h2.png" alt="">


            <p>В марте 2020 года, когда разбушевалась пандемия, в офисе Елены нежданно-негаданно образовался настоящий
                call-центр, где принимались звонки от всех нуждающихся, а потом формировались списки, с которыми она
                бегала по районным акиматам и общественным организациям, умоляя помочь. Благодаря этому, 652 человека,
                включая бабушек и дедушек, получили продуктовые наборы, 50 женщинам Елена и ее сотрудники помогли
                оформить ЭЦП, выбивали через Egov пособия в 42 500 и 12 человек их получили.
            </p>


            <div class="heroes__video">
                <iframe width="100%" height="500px" src="https://www.youtube.com/embed/tSCWs85mye8" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <p>«Когда спрашивают, зачем мне все это надо, отвечаю, что не могу найти у себя ту кнопку, которая отключит
                желание помогать людям… А для себя у меня есть только одно желание – съездить с детьми к морю, где я
                никогда не была! – улыбается Елена.
            </p>


            <h1 class="heroes__title">
                Зауреш Сапабекова
            </h1>
            <h2 class="heroes__subtitle">
                Врач - Инфекционист
            </h2>

            <p>«Моя пациентка, взрослая женщина, звонила мне из инфекционного стационара, где лежала с диагнозом
                COVID-19, и вела себя, как маленькая, испуганная девочка. Кроме физических мучений, она испытывала ужас
                от того, что от нее, узнав о диагнозе, отвернулись и друзья, и коллеги, и соседи. Она стала настоящим
                изгоем, все шарахались от нее, как от чумы, никто не соглашался даже покормить ее кошку, которая
                осталась дома одна. И таких случаев было огромное множество!» - рассказала Зауреш Сапарбекова,
                практикующий психолог с десятилетним стажем.</p>


            <img src="/img/h3.png" alt="">

            <p>Как только во всем мире объявили пандемию, она поняла, что люди от этого испытывают большой стресс. Мало
                того, что никто толком ничего не знал об этой болезни и боялся летальных исходов, так еще не понятно
                было, как в дальнейшем сложится наша жизнь - всех волновал вопрос потери работы и переход к совершенно
                новым условиям. </p>
            <img src="/img/h3.png" alt="">
            <p>Это, по словам Сапабековой, подтвердила истерия, которая началась в разгар карантина в социальных сетях.
                И будучи президентом Организации развития транзактного анализа в Казахстане, Зауреш Келесбаевна
                предложила коллегам создать проект, который так и назвала «Поддержка народу Казахстана во время пандемии
                коронавируса».</p>

            <img src="/img/h3.png" alt="">

            <p>Она проводила вебинары для психологов, где объясняла, как работать с людьми в это тяжелое время, а потом
                вместе с коллегами консультировала всех, кто нуждался в поддержке. Об этой акции было объявлено в
                соцсетях и таким образом бесплатную высококвалифицированную помощь, состоящую как минимум из трех
                консультаций, получили около ста человек. </p>


            <div class="heroes__video">
                <iframe width="100%" height="500px" src="https://www.youtube.com/embed/tSCWs85mye8" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <p>«Кроме денег, есть еще и человеческие ценности. Наша профессия – помогающая, и я всегда об этом помню!» -
                подытожила наша героиня. </p>

        </div>



    </div>


</section>