<div class="container-fluid">
  <div class="container">
    <nav class="header__nav">
        <div class="header__logo"><img src="/img/logo.png" alt=""></div>
        <ul class="header__links">
            <li><a href="">Героини</a></li>
            <li><a href="">Организаторы</a></li>
        </ul>

        <button class="hamburger hamburger--elastic" type="button"
        aria-label="Menu" aria-controls="navigation">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

    </nav>
  </div>
</div>