<div class="container">

    <div class="sponsor__wrapp">

        <h1 class="heroes__title">
            Тамара Абдирова
        </h1>
        <h2 class="sponsor__subtitle">
            Айнур Ильясова, актриса, учредитель ОФ 
            «Фонд Модернизации института и брака «Бопе» 
        </h2>

        <img src="/img/sponsor/2s.jpg" alt="">
      
    <div class="sponsor__footer">
        <div class="btn btn__primary">instagram</div>
    </div>



    <h1 class="heroes__title">
        Тамара Абдирова
    </h1>
    <h2 class="sponsor__subtitle">
        Айнур Ильясова, актриса, учредитель ОФ 
        «Фонд Модернизации института и брака «Бопе» 
    </h2>

    <img src="/img/sponsor/2s.jpg" alt="">
  
<div class="sponsor__footer">
    <div class="btn btn__primary">instagram</div>
</div>




</div>
<div class="container">

    <div class="row mt-5 mb-5">


        <div class="col-lg-12">
            <h2 class="headlines__big">Авторские права</h2>
            <div class="block-wrapp block-wrapp--line">

                <div class="block-content block-content--line">


                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                    </p>
                </div>

            </div>

        </div>

    </div>




    <div class="row mt-5 mb-5">


        <div class="col-lg-12">
            <h2 class="headlines__big">Контакты</h2>
            <div class="block-wrapp block-wrapp--contact">

                <div class="block-content block-content--line">

                    <ul>
                        <li class="contact"><img src="/img/phone.svg" alt=""><a href="">8 (777) 777 777 7777</a></li>
                        <li class="mail"><img src="/img/mail.svg" alt=""><a href="">info.info@.kz</a></li>

                    </ul>

                </div>

            </div>

        </div>

    </div>







</div>

</div>