<div class="container">


    <div class="row pt-5 pb-5">
        <div class="col-lg-6 order-2">
            <h2 class="headlines__small">Инициатор и вдохновитель</h2>
            <div class="block-wrapp block-wrapp--custom-size">
                <div class="block-content__title">Айнур Ильясова, актриса, учредитель ОФ
                    «Фонд Модернизации института и брака «Бопе» </div>
                <div class="block-content block-content--line">


                    <p>Практически все страны сообщают об увеличившемся уровне насилия в отношении женщин, в их числе и
                        Казахстан. К сожалению, условия кризиса, связанного с ним чрезвычайного положения и карантинного
                        режима, усиливают существующее гендерное неравенство и дискриминацию в отношении всех уязвимых
                        групп людей.
                        <br><br>
                        В то же время, оказываясь на передовой в борьбе с коронавирусной инфекцией, женщины вносят
                        непомерный вклад в решение проблем, вызванных пандемией. Среди таких женщин врачи, волонтеры,
                        активистки, политики, инфлюенсеры и т.д. Этот список можно продолжать долго.

                    </p>
                </div>

                <button class="btn btn__primary btn__primary--bage">instagram</button>
              
            </div>

        </div>
        <div class="col-lg-6 col order-sm-1 order-lg-2">
            <div class="block-img"><img src="/img/sponsor/s2.jpg" alt=""></div>
        </div>


    </div>




    <div class="row pt-5 pb-5">
        <div class="col-lg-6">

            <div class="block-img"><img src="/img/sponsor/s3.jpg" alt=""></div>

        </div>
        <div class="col-lg-6">

            <div class="block-wrapp block-wrapp--custom-size">
                <div class="block-content">
                    <div class="block-content__title">Бауыржан Бисмильдин - Фотограф</div>

                    <p>Практически все страны сообщают об увеличившемся уровне насилия в отношении женщин, в их числе и
                        Казахстан. К сожалению, условия кризиса, связанного с ним чрезвычайного положения и карантинного
                        режима, усиливают существующее гендерное неравенство и дискриминацию в отношении всех уязвимых
                        групп людей.
                        <br><br>
                        В то же время, оказываясь на передовой в борьбе с коронавирусной инфекцией, женщины вносят
                        непомерный вклад в решение проблем, вызванных пандемией. Среди таких женщин врачи, волонтеры,
                        активистки, политики, инфлюенсеры и т.д. Этот список можно продолжать долго.

                    </p>
                </div>

                
                <button class="btn btn__primary btn__primary--bage">instagram</button>
              
            </div>
        </div>


    </div>




    <div class="row pt-5 pb-5">
        <div class="col-lg-6 order-2">
         
            <div class="block-wrapp block-wrapp--custom-size">
                <div class="block-content__title">Ваня Абрамов - Видеограф </div>
                <div class="block-content block-content--line">


                    <p>Практически все страны сообщают об увеличившемся уровне насилия в отношении женщин, в их числе и
                        Казахстан. К сожалению, условия кризиса, связанного с ним чрезвычайного положения и карантинного
                        режима, усиливают существующее гендерное неравенство и дискриминацию в отношении всех уязвимых
                        групп людей.
                        <br><br>
                        В то же время, оказываясь на передовой в борьбе с коронавирусной инфекцией, женщины вносят
                        непомерный вклад в решение проблем, вызванных пандемией. Среди таких женщин врачи, волонтеры,
                        активистки, политики, инфлюенсеры и т.д. Этот список можно продолжать долго.

                    </p>
                </div>

                <button class="btn btn__primary btn__primary--bage">instagram</button>
              
            </div>

        </div>
        <div class="col-lg-6 col order-sm-1 order-lg-2">
            <div class="block-img"><img src="/img/sponsor/s3.jpg" alt=""></div>
        </div>


    </div>


    <div class="row pt-5 pb-5">
        <div class="col-lg-6">

            <div class="block-img"><img src="/img/sponsor/s3.jpg" alt=""></div>

        </div>
        <div class="col-lg-6">

            <div class="block-wrapp block-wrapp--custom-size">
                <div class="block-content">
                    <div class="block-content__title">Оксана Василенко - Журналист</div>

                    <p>Практически все страны сообщают об увеличившемся уровне насилия в отношении женщин, в их числе и
                        Казахстан. К сожалению, условия кризиса, связанного с ним чрезвычайного положения и карантинного
                        режима, усиливают существующее гендерное неравенство и дискриминацию в отношении всех уязвимых
                        групп людей.
                        <br><br>
                        В то же время, оказываясь на передовой в борьбе с коронавирусной инфекцией, женщины вносят
                        непомерный вклад в решение проблем, вызванных пандемией. Среди таких женщин врачи, волонтеры,
                        активистки, политики, инфлюенсеры и т.д. Этот список можно продолжать долго.

                    </p>
                </div>

                
                <button class="btn btn__primary btn__primary--bage">instagram</button>
              
            </div>
        </div>


    

        <div class="row pt-5 pb-5">
            <div class="col-lg-6 order-2">
             
                <div class="block-wrapp block-wrapp--custom-size">
                    <div class="block-content__title">Анна Алтухова - Координатор </div>
                    <div class="block-content block-content--line">
    
    
                        <p>Практически все страны сообщают об увеличившемся уровне насилия в отношении женщин, в их числе и
                            Казахстан. К сожалению, условия кризиса, связанного с ним чрезвычайного положения и карантинного
                            режима, усиливают существующее гендерное неравенство и дискриминацию в отношении всех уязвимых
                            групп людей.
                            <br><br>
                            В то же время, оказываясь на передовой в борьбе с коронавирусной инфекцией, женщины вносят
                            непомерный вклад в решение проблем, вызванных пандемией. Среди таких женщин врачи, волонтеры,
                            активистки, политики, инфлюенсеры и т.д. Этот список можно продолжать долго.
    
                        </p>
                    </div>
    
                    <button class="btn btn__primary btn__primary--bage">instagram</button>
                  
                </div>
    
            </div>
            <div class="col-lg-6 col order-sm-1 order-lg-2">
                <div class="block-img"><img src="/img/sponsor/s3.jpg" alt=""></div>
            </div>
    
    
        </div>


    <div class="row mt-5 mb-5">


        <div class="col-lg-12">
            <h2 class="headlines__big">Авторские права</h2>
            <div class="block-wrapp block-wrapp--line">

                <div class="block-content block-content--line">


                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.

                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.

                    </p>
                </div>
             
            </div>

        </div>

    </div>




    <div class="row mt-5 mb-5">


        <div class="col-lg-12">
            <h2 class="headlines__big">Контакты</h2>
            <div class="block-wrapp block-wrapp--contact">

                <div class="block-content block-content--line">

                    <ul>
                        <li class="contact"><img src="/img/phone.svg" alt=""><a href="">8 (777) 777 777 7777</a></li>
                        <li class="mail"><img src="/img/mail.svg" alt=""><a href="">info.info@.kz</a></li>

                    </ul>

                </div>
             
            </div>

        </div>

    </div>







</div>

</div>