<section class="sub-header">
    <p>Женщины на передовой в борьбе с COVID - 19</p>
</section>
<div class="container container-custom">
    <h1 class="headlines__sponsor">Организаторы</h1>
    <div class="row">
        <div class="col-lg-4 col-12">
            <div class="block-img"><img src="/img/logo_big.svg" alt=""></div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="block-wrapp">
                <div class="block-content">
                    <p>ЮНФПА — Фонд ООН в области народонаселения, это международное агентство системы ООН по охране репродуктивного здоровья и репродуктивных прав, которое продвигает равные права мужчин, женщин и молодежи на здоровую жизнь и равные возможности
                        для всех. ЮНФПА поддерживает страны, предоставляя демографические данные для проведения политики и программ, основанных на соблюдении прав человека.
                        
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <p>Миссия ЮНФПА — добиться того, чтобы каждая беременность была желанной, каждые роды — безопасными, все молодые люди имели возможность реализовать свой потенциал.
        </p>

        <div class="block-footer">
            <button class="btn btn__primary">Подробнее</button>
            <button class="btn btn__social btn__social"><img src="/img/inst.svg" alt=""></button>
        </div>
    </div>
</div>